/* start variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --thirdly-color: #0b1124;
    --section-padding: 60px;
    --section-background: #ececec;
    --main-duration: 0.5s;
}

/* end variables */
/* start global rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* larg  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules  */
/* start components  */
.sepcial-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--section-background);
    font-size: 100px;
    letter-spacing: -3px;
    text-align: center;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

.sepcial-heading+p {
    margin-top: 0px;
    text-align: center;
    position: relative;
    font-size: 18px;
    top: -30px;
    color: #767676;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1199px) {
    .sepcial-heading {
        font-size: 85px;
    }

    .sepcial-heading+p {
        top: -27.5px;
    }
}

@media (max-width: 767px) {
    .sepcial-heading {
        font-size: 70px;
    }

    .sepcial-heading+p {
        top: -25px;
    }
}

/* end components  */
/* start header  */
header {
    padding: 20px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
}

header .logo {
    width: 60px;
}

header .links {
    position: relative;
}

header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

header .links .icon span {
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    height: 3px;
}

header .links .icon span:first-child {
    width: 100%;
}

header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s ease;
}

header .links .icon span:last-child {
    width: 100%;
}

header .links ul {
    list-style: none;
    position: absolute;
    top: calc(100% + 20px);
    right: -5px;
    background-color: #dadada80;
    min-width: 200px;
    margin: 0px;
    padding: 0px;
    display: none;
    z-index: 1;
    transition: 1s ease;
}

header .links ul::before {
    content: '';
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent #dadadae6 transparent;
    top: -40px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    right: 0px;
}

header .links:hover ul {
    display: block;
}

header .links ul a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 20px 15px;
    transition: .5s ease;
}

header .links ul a:hover {
    padding-left: 25px;
}

header .links ul:not(last-child) a {
    border: 1px solid #444;
}

/* end header  */
/* start landing section */
.landing {
    background-image: url(../media/images/landing.jpg);
    background-size: cover;
    width: 100%;
    height: calc(100vh - 63.99px);
    position: relative;
}

.landing .intro {
    text-align: center;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing .intro h1 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro p {
    color: #1a1a1a;
    font-size: 20px;
}

@media (max-width: 424px) {
    .landing .intro h1 {
        font-size: 40px;
    }

    .landing .intro p {
        font-size: 19px;
    }
}

/* end landing section */
/* start featuers section */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
    font-size: 50px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* end featuers section */
/* start sevices section  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services-content .col {
    margin-bottom: 30px;
}

.services-content .col .srv {
    display: flex;
}

@media (max-width: 659px) {
    .services-content .col .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services-content .col .srv i {
    flex-basis: 30px;
    color: var(--main-color);
    margin: 0px 25px;
}

.services-content .col .srv .info {
    flex-grow: 1;
}

.services-content .col .srv .info h3 {
    color: var(--main-color);
    margin-bottom: 15px;
    margin-top: 0px;
}

.services-content .col .srv .info p {
    line-height: 1.5;
    color: var(--thirdly-color);
}

.services-content .col .image {
    position: relative;
    width: 300px;
    height: 450px;
}

@media (max-width: 1199px) {
    .services-content .col .image {
        display: none;
    }
}

.services-content .col .image img {
    background-size: cover;
    width: 300px;
    height: 450px;
}

.services-content .col .image::after {
    content: '';
    position: absolute;
    height: calc(100% + 60px);
    width: 125px;
    background-color: var(--secondary-color);
    right: -50px;
    top: -30PX;
    z-index: -1;
}

/* end sevices section  */
/* start portfolio section  */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .sepcial-heading {
    color: white;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.portfolio-content .project {
    margin-bottom: 30px;
    background-color: rgba(250, 250, 250);
}

@media (max-width: 659px) {
    .portfolio-content .project {
        text-align: center;
    }
}

.portfolio-content .project img {
    width: 100%;
    background-size: cover;
}

.portfolio-content .project .info {
    flex-grow: 1;
}

.portfolio-content .project .info h3 {
    color: black;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

.portfolio-content .project .info p {
    line-height: 1.6;
    font-weight: 500;
    color: var(--thirdly-color);
    margin-left: 15px;
    margin-right: 15px;
}

/* end portfolio section  */
/* start about section  */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about-content {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about-content .image {
    position: relative;
    width: 300px;
}

@media (max-width: 991px) {
    .about-content .image {
        margin: 0px auto 40px;
    }
}

.about-content .image::before {
    content: '';
    background-color: var(--section-background);
    width: 125px;
    height: calc(100% + 80px);
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -1;
}

.about-content .image::after {
    content: '';
    width: 125px;
    height: calc(100% - 100px);
    border-left: var(--secondary-color) solid 100px;
    border-bottom: var(--secondary-color) solid 75px;
    position: absolute;
    top: -25px;
    right: -170px;
    z-index: -1;
}

@media (max-width: 991px) {

    .about-content .image::before,
    .about-content .image::after {
        display: none;
    }
}

.about-content .image img {
    width: 100%;
    background-size: cover;
}

.about-content .info {
    flex-basis: calc(100% - 500px);
}

.about-content .info p:first-of-type {
    font-size: 18px;
    font-weight: 800;
    line-height: 2;
    margin-bottom: 35px;
}

.about-content .info hr {
    border-width: 60%;
    border-color: var(--main-color);
}

.about-content .info p:last-of-type {
    margin-top: 15px;
    font-weight: 300;
    line-height: 2;
    color: #777;
}

/* end about section  */
/* start contact section  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .sepcial-heading {
    color: white;
}

.contact-content {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-content>p {
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
}

.contact-content>a {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
    text-decoration: none;
}

.contact-content .social-icons {
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-color);
}

.contact-content .social-icons i {
    margin-left: 15px;
    color: var(--thirdly-color);
    text-decoration: none;
}

@media (max-width: 767px) {
    .contact-content>p {
        font-size: 28px;
    }

    .contact-content>a {
        font-size: 25px;
    }

    .contact-content .social-icons {
        font-size: 20px;
    }

    .contact-content .social-icons i {
        margin-left: 10px;
    }
}

@media (max-width: 427px) {
    .contact-content>p {
        font-size: 20px;
    }

    .contact-content>a {
        font-size: 20px;
    }

    .contact-content .social-icons {
        font-size: 15.5px;
    }

    .contact-content .social-icons i {
        margin-left: 7px;
    }
}

/* end contact section  */
/* start footer  */
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondary-color);
    color: var(--thirdly-color);
    font-size: 20px;
    text-align: center;
}

footer>a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 21;
}

/* end footer  */